<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pandorian.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Pandorian.My.MySettings>
            <setting name="proxyAddress" serializeAs="String">
                <value>http://server:port</value>
            </setting>
            <setting name="proyxUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="proxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="pandoraUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="pandoraPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="lastStationID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="audioQuality" serializeAs="String">
                <value>mediumQuality</value>
            </setting>
            <setting name="stationSkipHistory" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="globalSkipHistory" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="pandoraOne" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="downloadLocation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="noProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="launchCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="hkModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hkPlayPause" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="hkLike" serializeAs="String">
                <value>76</value>
            </setting>
            <setting name="hkDislike" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="hkSkip" serializeAs="String">
                <value>83</value>
            </setting>
            <setting name="hkShowHide" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="hkBlock" serializeAs="String">
                <value>66</value>
            </setting>
            <setting name="hkSleep" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="hkGlobalMenu" serializeAs="String">
                <value>77</value>
            </setting>
            <setting name="hkLock" serializeAs="String">
                <value>88</value>
            </setting>
            <setting name="unlockPassword" serializeAs="String">
                <value />
            </setting>
        </Pandorian.My.MySettings>
    </userSettings>
</configuration>
